#!/bin/bash
echo 1424 > /sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages
modprobe vfio-pci enable_sriov=1
dpdk-devbind.py -b vfio-pci 03:00.0 --force


tmux new-session -s dpdk-vdpa-session -d \
 "dpdk-vdpa -c 0x2  --socket-mem=128 -a \
 0000:03:00.0,vdpa=1 --iova-mode=va --log-level=.,8 \
 --  --iface=/tmp/vdpa-socket  --client || cat"
